.classynav ul li.megamenu-item > a::after,
.classynav > ul > li.cn-dropdown-item.has-down > .dd-arrow, .classynav > ul > li.megamenu-item > .dd-arrow {
    display: none;
}

.breakpoint-on .classynav > ul > li > a {
    background-color: transparent !important;
    border-bottom: none;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-brand img {
    height: 20px;
    margin-bottom: 7px;
}

.alert {
    position: fixed;
    bottom: 60px;
    right: 60px;
    min-width: 350px;
    z-index: 9999999999999999;
}

.alert-white {
    background-color: #fff !important;
    color: $gray-600;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.45);
}

 .classy-nav-container a:focus, .classy-nav-container a:hover {
    color: $blue;
}

table {
    thead {
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 0.4rem 0;
        tr {
            th {
                font-weight: normal;
                font-size: 90%;
            }
        }
    }
}

.dropdown-item {
    font-size: 14px;
    padding: 0.5rem 1.5rem;
}
