/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: $gray-600;
    background-color: rgba(0,0,0,0.01);
    transition: all 0.3s;
    -webkit-box-shadow: inset -17px 0px 22px -28px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -17px 0px 22px -28px rgba(0,0,0,0.75);
    box-shadow: inset -17px 0px 22px -28px rgba(0,0,0,0.75);
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: $gray-600;
    padding: 10px;
}

#sidebar ul li a {
    padding: 1rem 1.3rem;
    font-size: 0.9em;
    display: block;
    color: $gray-600;
    // text-transform: uppercase;
    // letter-spacing: 1px;
}

#sidebar ul li a:hover {
    color: $gray-400;
    background: $gray-900;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: $blue;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: transparent;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

// Settings Styles
#copyright_custom {
    display: none;
}
