
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// Argon, Admin, Utilities
@import 'argon';
@import 'admin';
@import 'util';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: $gray-200;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: rgba(203, 210, 246, 0.5);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid $blue;
    left: 24px;
    width: 12px;
    height: 12px;
    z-index: 400;
}

#timeline-card {
    max-height: 400px;
    overflow-x: hidden;
}

.categorylist {
  display: inline;
  list-style: none;
  padding: 0 !important;
}

.categorylist li {
  display: inline;
}

.categorylist li:after {
  content: ", ";
}

.categorylist li:last-child:after {
    content: "";
}

// Style hard resets
@import 'resets';
