/* TinyMCE Styles */
.mce-panel {
    border-color: #cad1d7 !important;
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: none !important;
}

.mce-panel:focus {
    box-shadow: none !important;
}

#mceu_25 {
    display: none !important;
}

#description_ifr,
#message_ifr {
    min-height: 250px !important;
}

#post_content_ifr {
    min-height: 500px !important;
}

main {
    overflow: visible !important;
}

// Alert styles
.alert {
    position: fixed;
    min-width: 350px;
    top: 30px;
    right: 30px;
    z-index: 999999999;
}

.image_picker_image {
    width: 97px !important;
    height: auto;
}

.badge-secondary {
    background-color: #eee;
}

.list-group-item:first-child {
    border: none;
}
