/* TinyMCE Styles */
.mce-panel {
    border-color: #cad1d7 !important;
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: none !important;
}

.mce-panel:focus {
    box-shadow: none !important;
}

#description_ifr {
    min-height: 250px !important;
}

main {
    overflow: visible !important;
}

// Alert styles
.alert {
    position: fixed;
    min-width: 350px;
    top: 30px;
    right: 30px;
    z-index: 999999999;
}

.image_picker_image {
    width: 100px !important;
    height: auto;
}
