// Custom utilities classes
.bg-black {
    background-color: #000000 !important;
}

.text-black {
    color: #000000 !important;
}

.bg-warning-light {
    background-color: #feefcf !important;
}

.bg-danger-light {
    background-color: rgba(245, 54, 92, 0.1) !important;
}

.border-warning {
    border-left: 15px solid #fb6340;
}
