// Heading Color
$heading-color: #000000;

// Text Color
$text-color: #8898aa;

// Default Background
$bg-default: #5e72e4;

// Gray Background
$bg-gray: #f6f9fc;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #000000;

// Border Color
$border-color: #f6f9fc;

// Hover Color
$hover-color: #3d55df;
