// Poppins Font
$font-poppins: 'Poppins', sans-serif;

// Ubuntu Font
$font-ubuntu: 'Poppins', sans-serif;

$border-radius:               0 !default;
$border-radius-lg:            0 !default;
$border-radius-sm:            0 !default;

//
// Color system
//

// $white:    #fff !default;
// $gray-100: #f8f9fa !default;
// $gray-200: #e9ecef !default;
// $gray-300: #dee2e6 !default;
// $gray-400: #ced4da !default;
// $gray-500: #adb5bd !default;
// $gray-600: #6c757d !default;
// $gray-700: #495057 !default;
// $gray-800: #343a40 !default;
// $gray-900: #212529 !default;
// $black:    #000 !default;

$white:    #fff !default;
$gray-100: #f6f9fc !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #8898aa !default;   // Line footer color
$gray-700: #525f7f !default;   // Line p color
$gray-800: #32325d !default;   // Line heading color
$gray-900: #212529 !default;
$black:    #000 !default;


// $blue:    #717fe0 !default; //
// $indigo:  #717fe0 !default;
// $purple:  #3d348b !default; //
// $pink:    #eb4b98 !default; //
// $red:     #ff3a20 !default; //
// $orange:  #f35b04 !default; //
// $yellow:  #f7b801 !default; //
// $green:   #29bf12 !default; //
// $teal:    #119da4 !default; //
// $cyan:    #aeecef !default; //

$blue:    #5e72e4 !default;
$indigo:  #5603ad !default;
$purple:  #8965e0 !default;
$pink:    #f3a4b5 !default;
$red:     #f5365c !default;
$orange:  #fb6340 !default;
$yellow:  #ffd600 !default;
$green:   #2dce89 !default;
$teal:    #11cdef !default;
$cyan:    #2bffc6 !default;
